{% load static %}
<div class="container">
	<div class="row text-center mt-4 mb-4">
		<div class="col-12">
			<h1>Proyectos Activos</h1>
		</div>		
	</div>
	<div class="row text-center">
		{% if not proyectos %}
			<div class="col-4 addProyecto" onclick="addProyecto()">
				<div class="col-12 contFolder">
					<img class="iconFolder" src="{% static 'imgs/add.png' %}">
				</div>
				<div class="col-12">
					<h5>Agregar un Nuevo Proyecto</h5>
				</div>
			</div>
		{% else %}
			
			{% for proyecto in proyectos %}
				<div class="col-4 contFolder" onclick="detalleProyecto(this)" data-id="{{proyecto.id}}">
					<div class="col-12">
						<img class="iconFolder" src="{% static 'imgs/folder.png' %}">
					</div>
					<div class="col-12">
						<h5>{{ proyecto.nombreProyecto }}</h5>
					</div>
				</div>
			{% endfor %}
			<div class="col-4 addProyecto" onclick="addProyecto()">
				<div class="col-12 contFolder">
					<img class="iconFolder" src="{% static 'imgs/add.png' %}">
				</div>
				<div class="col-12">
					<h5>Agregar un Nuevo Proyecto</h5>
				</div>
			</div>
		{% endif %}
	</div>
</div>