body{
	background: #F4F7FE !important;
	color: #141515 !important;
}
textarea{
	resize: none !important;
}
#row-login{
	margin-top: 20%;
}
.contenedorLogin{
	background: #fff;
}

#barraSuperior{
	background: #356280;
	color: #F4F7FE;
}

#imgPerfil{
	width: 75px;
	height: 75px;
	cursor: pointer;
}

#imgPerfilMiembro{
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.selected{
	background-color: #5DC5FE;
}
.menuA:hover{
	background-color: #FBBE60;
}

.iconFolder{
	width: 75px;
	height: 75px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contFolder{
	cursor: pointer;
}

	.contFolder:hover{
		background-color: #33A481;
	}

.opcionProy:hover{
	background-color: #FFD4D4;
}

.optSelected{
	background: #EA6C4A;
	color: #F4F7FE;
}

.formOculto{
	display: none !important;
}

#desplegarFormAddTarea img{
	width: 40px;
	height: 40px;
}

.iconOpciones{
	width: 30px;
	height: 30px;
}

.bloqueEditable{
	display: none;
}

.menuAdminP{
	background: #33A481;
}