<!-- <div class="row bg-info col-12"> -->
	<div id="pProyectos" class="col-4 text-center btn opcionProyP" data-id="{{proyecto.id}}" data-flag="proyectos">Proyectos</div>
	<div id="pDetalle" class="col-4 text-center btn opcionProyP {% if flag == 'detallePP' %} optSelectedP {% endif %}" data-id="{{proyecto.id}}" data-flag="detallePP" data-u= "{{idUsuario}}" >Detalles del Proyecto: {{proyecto.nombreProyecto}}</div>
	<div id="pEstimation" class="col-4 text-center btn opcionProyP {% if flag == 'estimationPP' %} optSelectedP {% endif %}" data-id="{{proyecto.id}}" data-flag="estimationPP" data-u= "{{idUsuario}}" >Estimación</div>
<!-- </div> -->